{% extends 'padre.html' %}
{% load static %}


{% block contenidoQueCambia %}
<style>
    .mensaje-blanco {
        color: white;
    }
</style>

<div class="mensaje-blanco">
    {{ mensaje }}
</div>
{% endblock contenidoQueCambia %}
  

{% block contenidoQueCambia1 %}
<article class="container">
    <h2 class="text-center mt-3">Proximos estrenos de horror</h2>
    <div class="row">
        <div class="col-12 col-md-4 col-lg-3 my-3">
            <div class="card bg-dark text-light card1">
              <img
                src="{% static 'assets/img/CardEstrenos/exorcista-believer.jpg' %}"
                class="card-img-top imagenCard"
                alt="exorcista-believer"
              />
              <div class="card-body">
                <h5 class="card-title text-center">
                  EL EXORCISTA - BELIEVER
                </h5>
                <p class="card-text">
                  Secuela del clasico de 1976
                </p>
              </div>
              <div class="centrado">
                <button
                  class="btn btn-outline-light mb-2 mx-auto"
                  type="button"
                  data-bs-toggle="modal"
                  data-bs-target="#modalDetalleProducto"
                >
                <a href="{% url 'error404' %}" style="text-decoration: none; color: white;">Ver mas</a>  
                </button>
                
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 col-lg-3 my-3">
            <div class="card bg-dark text-light card1">
              <img
                src="{% static 'assets\img\CardEstrenos\Insidious-The-Red-Door-header.png' %}"
                class="card-img-top imagenCard"
                alt="Insidious-The-Red-Door-header"
              />
              <div class="card-body">
                <h5 class="card-title text-center">
                  INSIDIUS - THE RED DOOR
                </h5>
                <p class="card-text">
                  El capitulo final de la saga se estrena en julio
                </p>
              </div>
              <div class="centrado">
                <button
                  class="btn btn-outline-light mb-2 mx-auto"
                  type="button"
                  data-bs-toggle="modal"
                  data-bs-target="#modalDetalleProducto"
                >
                  Ver mas
                </button>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 col-lg-3 my-3">
            <div class="card bg-dark text-light card1">
              <img
                src="{% static 'assets\img\CardEstrenos\Saw-x-poster.jpg' %}"
                class="card-img-top imagenCard"
                alt="saw-x"
              />
              <div class="card-body">
                <h5 class="card-title text-center">
                  SAW X
                </h5>
                <p class="card-text">
                  Jigsaw y Amanda regresan en una retorcida secuela
                </p>
              </div>
              <div class="centrado">
                <button
                  class="btn btn-outline-light mb-2 mx-auto"
                  type="button"
                  data-bs-toggle="modal"
                  data-bs-target="#modalDetalleProducto"
                >
                  Ver mas
                </button>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 col-lg-3 my-3">
            <div class="card bg-dark text-light card1">
              <img
                src="{% static 'assets\img\CardEstrenos\the-nun-ii-2-poster.webp' %}"
                class="card-img-top imagenCard"
                alt="the-nun-2"
              />
              <div class="card-body">
                <h5 class="card-title text-center">
                  LA MONJA 2 - VALAK    
                </h5>
                <p class="card-text">
                  La monja demoniaca vuelve a las andadas
                </p>
              </div>
              <div class="centrado">
                <button
                  class="btn btn-outline-light mb-2 mx-auto"
                  type="button"
                  data-bs-toggle="modal"
                  data-bs-target="#modalDetalleProducto"
                >
                  Ver mas
                </button>
              </div>
            </div>
          </div>
    </div>
    <div class="">
        <h2 class="text-center my-4">Ultimas noticias</h2>
        <div class="">
            <div class="card cardTamaño mb-3">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{% static 'assets/img/Noticias/nicolas-cage.jpg' %}" class="img-fluid rounded-start mt-1" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                        <p style="color: red;">#TRAILER</p>
                      <h5 class="card-title"><a href="#" class="text-dark cardNoticia"><b>Nicolas Cage en el tráiler oficial de "Dream Scenario", el título producido por Ari Aster</b></a></h5>
                      <p class="card-text">La película dirigidida por Kristoffer Borgli que llegará a los cines americanos el próximo mes de noviembre</p>
                      <p class="card-text"><small class="text-body-secondary">3 semanas.</small></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card cardTamaño mb-3">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{% static 'assets/img/Noticias/reino-animal.jpg' %}" class="img-fluid rounded-start mt-1" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                        <p style="color: red;">#TRAILER</p>
                      <h5 class="card-title"><a href="#" class="text-dark cardNoticia"><b>Tráiler español de "El Reino Animal", título que veremos en el Festival de Sitges</b></a></h5>
                      <p class="card-text">La película, protagonizada por Romain Duris, Paul Kircher y Adèle Exarchopoulos, competirá en la Sección Oficial del Festival.</p>
                      <p class="card-text"><small class="text-body-secondary">3 semanas.</small></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card cardTamaño mb-3">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{% static 'assets/img/Noticias/slotherhouse.jpg' %}" class="img-fluid rounded-start mt-1" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                        <p style="color: red;">#TRAILER</p>
                      <h5 class="card-title"><a href="#" class="text-dark cardNoticia"><b>¡Cuidado con el Perezoso Asesino! Tráiler Oficial de "Slotherhouse"</b></a></h5>
                      <p class="card-text">La cinta que mañana se estrenará en Estados Unidos a través de plataformas digitales.</p>
                      <p class="card-text"><small class="text-body-secondary">3 semanas.</small></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card cardTamaño mb-3">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{% static 'assets/img/Noticias/chucky.jpg' %}" class="img-fluid rounded-start mt-1" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                        <p style="color: red;">#TRAILER</p>
                      <h5 class="card-title"><a href="#" class="text-dark cardNoticia"><b>"Chucky": Nuevo Tráiler de la 3ª Temporada que estará dividida en dos partes</b></a></h5>
                      <p class="card-text">La huelga de guionistas y actores reducirá el número de episodios que se verán en octubre.</p>
                      <p class="card-text"><small class="text-body-secondary">3 semanas.</small></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card cardTamaño mb-3">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{% static 'assets/img/Noticias/hounted-house.jpg' %}" class="img-fluid rounded-start mt-1" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                        <p style="color: red;">#VIDEOJUEGOS</p>
                      <h5 class="card-title"><a href="#" class="text-dark cardNoticia"><b>Tráiler de "Haunted House", la reimaginación del título clásico de Atari de 1982</b></a></h5>
                      <p class="card-text">El juego que fue el precursor de los Survival Horror actuales tendrá una nueva versión.</p>
                      <p class="card-text"><small class="text-body-secondary">3 semanas.</small></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card cardTamaño mb-3">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{% static 'assets/img/Noticias/cine.jpg' %}" class="img-fluid rounded-start mt-1" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                        <p style="color: red;">#CINE</p>
                      <h5 class="card-title"><a href="#" class="text-dark cardNoticia"><b>La Monja y Poirot empatan en lo más alto de la taquilla americana</b></a></h5>
                      <p class="card-text">Ambos títulos logran 14 millones de dólares de recaudación estos tres días.</p>
                      <p class="card-text"><small class="text-body-secondary">3 semanas.</small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</article>
{% endblock contenidoQueCambia1 %}
    