{% extends 'padre.html' %}

{% block contenidoQueCambia1 %}
    <h1 class="text-center">Listado de Películas</h1>
    <br>
    <div class="container">
          <button class="btn btn-primary"><a href="{% url 'formularioPelicula' %}" style="text-decoration: none; color: white;" >Agregar Peliculas</a></button>  
    <div class="card-container">
        <div class="row">
            {% for pelicula in lista_peliculas %}
                <div class="col-12 col-md-4 col-lg-3 my-3">
                    <div class="card equal-height-card">

                        {% if pelicula.imagenpelicula %}
                            <img src="{{ pelicula.imagenpelicula.url }}"class="card-img-top" alt="{{ pelicula.nombre }}">
                        {% else %}
                            <img src="tu-imagen-predeterminada.jpg" class="card-img-top" alt="Imagen no disponible" />
                        {% endif %}

                        <div class="card-body">
                            <h5 class="card-title">
                                {{ pelicula.nombre }} {% if pelicula.es_nuevo %}<span class="badge bg-warning">NUEVO</span>{% endif %}
                            </h5>
                            <p class="card-text">
                                Descripción: {{ pelicula.descripcion }}
                            </p>
                            <div class="btn-group" role="group">
                                <form action="{% url 'EliminarPeliculas' pelicula.id %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger" style="margin-right: 10px">Eliminar</button>
                                </form>
                                <button type="submit" class="btn btn-primary" >
                                    <a href="{% url 'EditarPelicula' pelicula.id %}" style="color: white; text-decoration: none">Editar</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    </div>

{% endblock contenidoQueCambia1 %}
