{% extends 'padre.html' %}
{% load static %}


{% block contenidoQueCambia1 %}
    <article class="fondo" style="background-image: url(https://fpdl.in/uploads/[fpdl.in]_black-wood-ghost-girl-horror-dark-night-forest-background-macabre-scene-background_121658-438_large.jpg);background-size: cover;background-repeat: no-repeat;background-position: center center;">
        <section class="gradiente container-fluid mt-5">
            <section class="container text-center">
                <h2 class="display-3 p-5 text-light">Acerca de nosotros</h2>
                <div class="text-light m-5">
                <p class="mx-5 fs-4">Somos hermanos unidos por una pasión en común: las películas y series de terror. Desde temprana edad, hemos compartido emociones intensas y momentos inolvidables sumergidos en el oscuro y fascinante universo del cine de horror.

                    Nuestros lazos se han fortalecido a través de las noches de maratones, llenas de sustos y sorpresas, en las que exploramos mundos paranormales y criaturas terroríficas. Nos encanta desafiar nuestros miedos y experimentar la adrenalina que solo el género de terror puede brindar.
                    
                    Cada película o serie que vemos juntos es una oportunidad para compartir risas nerviosas, comentar sobre escenas impactantes y teorizar sobre el desenlace. Nos nutrimos mutuamente con recomendaciones, descubriendo nuevas joyas del horror y explorando los clásicos que han dejado una marca indeleble en la historia del cine.
                    
                    Esta pasión no solo nos ha unido como hermanos, sino que ha enriquecido nuestras vidas al brindarnos un espacio de conexión y creatividad. Esperamos continuar explorando el oscuro y enigmático mundo del terror juntos, construyendo recuerdos inolvidables, ampliando nuestra admiración por este emocionante género y compartirlo con el resto de las personas amante de este genero.</p>
                </div>
                <div class="container py-5">
                    <div class="row text-light d-flex justify-content-center">
                        <div class="col-lg-6 d-flex justify-content-center">
                            <div class="card mb-3 bg-dark text-light" style="width: 18rem;">
                                <a href="https://github.com/JuanIgnacioPerez" target="_blank"><img src="{% static 'assets\img\Nosotros\juan.jpeg' %}" class="card-img-top" alt="JuanIgnacio"></a>
                                <div class="card-body">
                                  <h3 class="card-text">Juan Ignacio Perez</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </article>
{% endblock contenidoQueCambia1 %}
