{% extends 'padre.html' %}

{% block contenidoQueCambia1 %}
    <h1>Listado de Series</h1>
    <div class="card-container">
        <div class="row">
            {% for serie in lista_series %}
                <div class="col-12 col-md-4 col-lg-3 my-3">
                    <div class="card equal-height-card">

                        {% if serie.imagenserie %}
                            <img src="{{ serie.imagenserie.url }}"class="card-img-top" alt="{{ serie.nombre }}">
                        {% else %}
                            <img src="tu-imagen-predeterminada.jpg" class="card-img-top" alt="Imagen no disponible" />
                        {% endif %}

                        <div class="card-body">
                            <h5 class="card-title">
                                {{ serie.nombre }} {% if serie.es_nuevo %}<span class="badge bg-warning">NUEVO</span>{% endif %}
                            </h5>

                        </div>
                        <button type="submit" class="btn btn-primary"><a href="{% url 'error404' %}" style="text-decoration: none; color: white;" >Ver Mas</a></button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock contenidoQueCambia1 %}
